/* LAYAR NE */
:root {
  --bg: #0d0f12;
  --tosca: #e2e9e9;
  --soft: #f4fefe;
  --card: #13171c;
  --border: #00d4c7;
}

body {
  font-family: "Poppins", sans-serif;
  background: var(--bg);
  color: var(--soft);
  margin: 0;
}

.container {
  width: min(1100px, 90%);
  margin: auto;
}

/* ATAS  */
.header {
  background: var(--card);
  padding: 16px 0;
  border-bottom: 1px solid var(--border);
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  color: #ffffff;
  font-weight: 700;
}

.nav ul {
  list-style: none;
  display: flex;
  gap: 22px;
  padding: 0;
}

.nav a {
  text-decoration: none;
  color: var(--soft);
  font-weight: 600;
}

.nav a:hover {
  color: var(--tosca);
}

/*  FOTO  */
.hero-article {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  align-items: center;
  padding: 40px 0;
}

.hero-content h2 {
  color: var(--tosca);
  margin: 8px 0;
}

.hero-image {
  position: absolute;
  top: 150px;
  right: 60px;
}

.hero-image img {
  width: 310px;
  height: 310px;
  object-fit: cover;
  border-radius: 50%;
  border: 3px solid var(--tosca);
}

/*  CARDS  */
.articles-grid {
  display: grid;
  gap: 14px;
  grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
}

.news-card {
  background: var(--card);
  padding: 16px;
  border-radius: 10px;
  border-left: 4px solid var(--tosca);
}

/*  SKILLS  */
.skills-grid {
  display: grid;
  gap: 12px;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
}

.skill-item {
  text-align: center;
  background: var(--tosca);
  padding: 10px;
  border-radius: 10px;
  color: var(--bg);
  font-weight: 600;
}

/* TENTANG GW */
.about-layout {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 20px;
}

.about-photo {
  width: 400px;
  border-radius: 50%;
  border: 3px solid var(--tosca);
}

.bio-table td,
.bio-table th {
  padding: 10px;
  border: 1px solid var(--border);
  text-align: left;
  
}

/*  KONTAK NYA  */
.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid var(--border);
  background: #0f1317;
  color: #f4fefe;
  margin-bottom: 12px;
}

button {
  background: #f4fefe;
  color: var(--bg);
  border: none;
  padding: 10px 18px;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 600;
}

button:hover {
  background: #00b5aa;
}

/*  BAWAHAN */
.footer {
  margin-top: 50px;
  text-align: center;
  padding: 20px 0;
  border-top: 1px solid var(--border);
  color: var(--soft);
}
